<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <File name="FLOWLOG" filename="workflow.engine.log" append="false">
      <PatternLayout pattern="%5p (%d{ABSOLUTE}) - %m%n" />
    </File>
  </Appenders>
  
  <Loggers>    
    <Root level="debug">
      <AppenderRef ref="FLOWLOG" />
    </Root>
  </Loggers>
</Configuration>