<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
      <extension
            point="org.eclipse.ui.actionSets">
         <actionSet
               description="Workbench SIMBA"
               id="gov.sandia.dart.simba.plugins.core.modeleditor"
               label="Workbench Model Manager"
               visible="true">
            <action
                  class="gov.sandia.dart.simba.plugins.core.ModelManagerActionDelegate"
                  icon="icons/simba.gif"
                  id="gov.sandia.dart.simba.launch"
                  label="Workbench Model Manager"
                  menubarPath="tools/additions"
                  style="push"
                  toolbarPath="org.eclipse.ui.workbench.file/build.ext"
                  tooltip="Launch the Workbench Model Manager">
            </action>
         </actionSet>
      </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            icon="icons/shapes.gif"
            class="gov.sandia.dart.workflow.app.ApcWorkbench.rcp.WorkflowPerspective"
            name="Workflow"
            id="gov.sandia.dart.workflow.app.perspective.workflow">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="gov.sandia.dart.workflow.app.perspective.workflow">
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut id="gov.sandia.dart.workflow.app.perspective.workflow"/>
         <viewShortcut id="gov.sandia.apc.views.ApcResourceNavigator"/>
         <perspectiveShortcut id="gov.sandia.dart.workflow.app.DfmPerspective"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="gov.sandia.dart.workflow.app.perspective.job">            
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               ratio="0.6f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="com.strikewire.snl.apc.FileManager.views.MachineView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.6f"
               relationship="bottom"
               relative="com.strikewire.snl.apc.projectexplorer.views.ProjectExplorerView">
         </view>
         <view
               id="com.strikewire.snl.apc.ProjectExplorer.DependencyTreeView"
               minimized="false"
               relationship="stack"
               relative="com.strikewire.snl.apc.FileManager.views.MachineView">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               relationship="stack"
               relative="com.strikewire.snl.apc.FileManager.views.MachineView">
         </view>
         <view
               id="org.eclipse.ui.views.ProgressView"
               minimized="false"
               relationship="stack"
               relative="com.strikewire.snl.apc.FileManager.views.MachineView">
         </view>
         <view
               id="gov.sandia.apc.JobSubmission.JobStatusView"
               minimized="false"
               ratio="0.7f"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               ratio="0.7f"
               relationship="stack"
               relative="gov.sandia.apc.JobSubmission.JobStatusView">
         </view>
         <view
               id="com.strikewire.snl.apc.FileManager.views.FileView"
               minimized="false"
               ratio="0.7f"
               relationship="stack"
               relative="gov.sandia.apc.JobSubmission.JobStatusView">
         </view>
         <newWizardShortcut
               id="gov.sandia.dart.materials.ui.wizards.NewMDF">
         </newWizardShortcut>
         <newWizardShortcut
               id="gov.sandia.apc.wizards.NewInputDeckWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="gov.sandia.dart.jaguar.ProcessWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.folder">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.file">
         </newWizardShortcut>                      
      </perspectiveExtension>
   </extension>
   <extension
         id="Sandia_Analysis_Workbench"
         name="Sandia Analysis Workbench"
         point="org.eclipse.core.runtime.products">
      <product
            application="gov.sandia.dart.workflow.app.Workbench_Application"
            description="Sandia Analysis Workbench Client"
            name="Sandia Analysis Workbench">
         <property
               name="windowImages"
               value="icons/app/16x16.gif,icons/app/32x32.gif,icons/app/48x48.gif">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="icons/app/48x48.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="0,274,431,10">
         </property>
         <property
               name="startupMessageRect"
               value="7,2,424,20">
         </property>
         <property
               name="appName"
               value="Sandia Analysis Workbench">
         </property>
         <property
               name="windowImage"
               value="icons/sandia32.gif">
         </property>
         <property
               name="appVersion"
               value="{0}">
         </property>
         <property
               name="splashMessage"
               value="%splashText">
         </property>
         <property
               name="splashMessagePoint"
               value="-7,215">
         </property>
         <property
               name="cssTheme"
               value="gov.sandia.dart.ui.themes.theme.saw">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         
      </product>
   </extension>
   <extension
         id="Workbench_Application"
         name="Sandia Analysis Workbench Application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="gov.sandia.dart.workflow.app.application.DartWorkbenchApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <category
            id="gov.sandia.dart.workflow.app.activitycategory"
            name="Workbench Disabled UI">
      </category>
      <activity
            id="gov.sandia.dart.workflow.app.team"
            name="Team UI">
      </activity>
      <activity
            id="gov.sandia.dart.workflow.app.wizards"
            name="Wizards">
      </activity>
      <activity
            id="gov.sandia.dart.workflow.app.java"
            name="Java UI">
      </activity>
      <categoryActivityBinding
            activityId="gov.sandia.dart.workflow.app.team"
            categoryId="gov.sandia.dart.workflow.app.activitycategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="gov.sandia.dart.workflow.app.wizards"
            categoryId="gov.sandia.dart.workflow.app.activitycategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="gov.sandia.dart.workflow.app.java"
            categoryId="gov.sandia.dart.workflow.app.activitycategory">
      </categoryActivityBinding>
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.team"
            pattern="org\.eclipse\.team\.ui/org\.eclipse\.team\.ui\.actionSet">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.wizards\.JavaProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.wizards\.NewPackageCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.wizards\.NewClassCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.wizards\.NewInterfaceCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.wizards\.NewSourceFolderCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.wizards\.NewEnumCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.wizards"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.wizards\.NewAnnotationCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.wizards"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.wizards\.NewJavaWorkingSetWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.debug\.ui/org\.eclipse\.jdt\.debug\.ui\.snippetEditor\.NewSnippetFileCreationWizard">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.wizards"
            pattern="org\.eclipse\.team\.ui/org\.eclipse\.team\.ui\.ProjectSetImportWizard">
      </activityPatternBinding>      
       <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.wizards"
            pattern="org\.eclipse\.team\.ui/org\.eclipse\.team\.ui\.ProjectSetExportWizard">
      </activityPatternBinding>      
       <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.internal\.ui\.fatjarpackager\.JarPackageWizard">
      </activityPatternBinding>      
       <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.internal\.ui\.jarpackager\.JarPackageWizard">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.internal\.ui\.javadocexport\.JavadocWizard">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.wizards"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.internal\.ui\.importexport\.breakpoints\.WizardImportBreakpoints">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.wizards"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.ui\.import\.launchconfigurations">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.wizards"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.internal\.ui\.importexport\.breakpoints\.WizardExportBreakpoints">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.wizards"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.ui\.export\.launchconfigurations">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.JavaSearchPage">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.MembersView">
      </activityPatternBinding>      
      
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.MembersView">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.SourceView">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.JavadocView">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.PackageExplorer">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.TypeHierarchy">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.TypesView">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.PackagesView">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.ProjectsView">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.ui\.browsing">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.jdt\.callhierarchy\.view">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="gov.sandia.dart.workflow.app.java"
            pattern="org\.eclipse\.jdt\.ui/org\.eclipse\.ui\.texteditor\.TemplatesView">
      </activityPatternBinding>      
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.strikewire.snl.apc.Common.MessageSplashHandler"
            id="gov.sandia.dart.workflow.app.splashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="gov.sandia.dart.workflow.app.Sandia_Analysis_Workbench"
            splashId="gov.sandia.dart.workflow.app.splashHandler">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.statusHandlers">
       <statusHandlerProductBinding
            handlerId="com.strikewire.snl.apc.statusHandler"
            productId="gov.sandia.dart.workflow.app.Sandia_Analysis_Workbench">
      </statusHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.eclipse.core.runtime.text"
            file-extensions="ini,sh,log">
      </file-association>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.internalTweaklets">
      <tweaklet
            definition="org.eclipse.ui.internal.tweaklets.GrabFocus"
            description="Tweak to prevent the problems view from grabbing focus and ultimately un-zooming (putting in stand-by) the welcome page"
            id="gov.sandia.dart.workflow.app.tweaklet.grabFocus"
            name="Problems View No Focus"
            implementation="gov.sandia.dart.workflow.app.application.GrabFocusTweaklet"
            >
      </tweaklet>
   </extension>

</plugin>
