<html xmlns:java="http://xml.apache.org/xslt/java" xmlns:md="http://dart.sandia.gov/sierra-meta.xsd">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <link rel="stylesheet" type="text/css" href="ngwcomps.css">
   </head>
   <body>
      <title>NGW Component Documentation - foo</title>
      <h1>foo</h1>
      <div>        
         <h2>Description</h2>
         
         <p>
			Takes a string, appends "foo" to it, saves that to a file, and returns the file.
         </p>
      </div>

      <div>
         <h2>Properties</h2>
         
         <p><code>input</code> - an arbitrary string</p>         
         </div>
      
      <div>
         <h2>Input Ports</h2>
         
                  <p><code>input</code> - an arbitrary string</p>         
      </div>
      
      
      <div>
         <h2>Output Ports</h2>
         
         <p><code>foo</code> - the result file.</p>
      </div>
      
      <div>
         <h2>Notes</h2>
 		 Demonstration of how to write a new node in Java
       </div>
   </body>
</html>