<contexts>
<context id="mapping" title="Compare Current Editor With... Instructions">
   <description>For instructions on using the <b>Compare Current Editor With... (diff) utility</b></description>
   <topic href="helpConcepts/Compare_With_User_Guide.html" label="Compare Current Editor With... Instructions"/>
</context>
</contexts>
