<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="gov.sandia.dart.common.preferences.CommonPreferenceInitializer">
      </initializer>
      <initializer
            class="gov.sandia.dart.common.preferences.localhost.LocalhostPreferenceInitializer">
      </initializer>
      <initializer
            class="gov.sandia.dart.common.preferences.settings.SettingsViewPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.compare.internal.ComparePreferencePage"
            class="gov.sandia.dart.common.preferences.compare.CompareWithPreferencePage"
            id="com.strikewire.snl.apc.Common.CompareWith"
            name="Compare (Diff)">
      </page>
      <page
            category="com.strikewire.snl.apc.ApcCommon.preferences.pages.system"
            class="gov.sandia.dart.common.preferences.date.DateFormatPreferencePage"
            id="com.strikewire.snl.apc.Common.dateformats"
            name="Date Formats">
      </page>
      <page
            category="gov.sandia.apc.machines.preferencePage.Machines"
            class="gov.sandia.dart.common.preferences.localhost.LocalHostnamePreferencePage"
            id="com.strikewire.snl.apc.Common.hostName"
            name="Local Hostname Resolution Method">
      </page>      
      <page
            category="com.strikewire.snl.apc.ApcCommon.preferences.pages.system"
            class="gov.sandia.dart.common.preferences.settings.SettingsViewPreferencePage"
            id="com.strikewire.snl.apc.Common.settings"
            name="Settings View">
      </page>      
   </extension>

</plugin>
