<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gov.sandia.dart.workflow.phase3.embedded.nodeDefinitionContributor">
      <runtimeLibrary
            bundleId="gov.sandia.dart.workflow.phase3"
            name="Core Workflow">
      </runtimeLibrary>
   </extension>
</plugin>
