<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="paletteContributor" name="Workflow Editor Palette Contributor" schema="schema/paletteContributor.exsd"/>
   <extension-point id="nodeTypeContributor" name="Workflow Editor Node Type Contributor" schema="schema/nodeTypeContributor.exsd"/>
   <extension-point id="contextButtonContributor" name="Workflow Editor Context Button Contributor" schema="schema/contextButtonContributor.exsd"/>
   <extension-point id="nodeTypeEditor" name="Custom Workflow Node Editor" schema="schema/nodeTypeEditor.exsd"/>
   <extension-point id="nodeRenderer" name="Custom Renderer for Workflow Nodes" schema="schema/nodeRenderer.exsd"/>
   <extension-point id="mouseAction" name="Workflow Editor Mouse Actions" schema="schema/mouseAction.exsd"/>
   <extension-point id="resourceContributor" name="Workflow Component Resource Contributor" schema="schema/resourceContributor.exsd"/>
   <extension-point id="nodeIcon" name="Workflow Editor Node Icon Contributor" schema="schema/nodeIcon.exsd"/>
<extension
      point="org.eclipse.graphiti.ui.diagramTypes">
    <diagramType
      description="DART Workflow Diagram Type"
      id="gov.sandia.dart.workflow.editor.WorkflowDiagramType"
      name="DART Workflow Diagram Type"
      type="dartWorkflow">
    </diagramType>
  </extension>

  <extension
      point="org.eclipse.graphiti.ui.diagramTypeProviders">
    <diagramTypeProvider
      class="gov.sandia.dart.workflow.editor.WorkflowDiagramTypeProvider"
      description="DART Workflow Diagram Type Provider"
      id="gov.sandia.dart.workflow.editor.WorkflowDiagramTypeProvider"
      name="DART Workflow Editor">
      <diagramType
        id="gov.sandia.dart.workflow.editor.WorkflowDiagramType">
      </diagramType>
      <imageProvider
            id="gov.sandia.dart.workflow.editor.WorkflowImageProvider">
      </imageProvider>
    </diagramTypeProvider>
  </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated domain -->
      <package
            uri="https://dart.sandia.gov/workflow/domain"
            class="gov.sandia.dart.workflow.domain.DomainPackage"
            genModel="domain.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated domain -->
      <package
            uri="https://dart.sandia.gov/workflow/domain"
            class="gov.sandia.dart.workflow.domain.DomainPackage"
            genModel="domain.genmodel"/>
   </extension>
   <extension
      	point="org.eclipse.graphiti.ui.imageProviders">
   		<imageProvider
         class="gov.sandia.dart.workflow.editor.WorkflowImageProvider"
   		      id="gov.sandia.dart.workflow.editor.WorkflowImageProvider">
   		</imageProvider>
	</extension>
   	<extension
         point="org.eclipse.core.runtime.adapters">

           <factory adaptableType="gov.sandia.dart.workflow.domain.WFNode"
            class="gov.sandia.dart.workflow.editor.settings.WorkflowNodeAdapterFactory">
        		 <adapter
             		  type="com.strikewire.snl.apc.GUIs.settings.ISettingsEditor">
         		</adapter>
      		</factory>
      		<factory adaptableType="gov.sandia.dart.workflow.domain.Note"
            class="gov.sandia.dart.workflow.editor.settings.WorkflowNodeAdapterFactory">
        		 <adapter
             		  type="com.strikewire.snl.apc.GUIs.settings.ISettingsEditor">
         		</adapter>
      		</factory>
       		<factory adaptableType="gov.sandia.dart.workflow.domain.Response"
            class="gov.sandia.dart.workflow.editor.settings.WorkflowNodeAdapterFactory">
        		 <adapter
             		  type="com.strikewire.snl.apc.GUIs.settings.ISettingsEditor">
         		</adapter>
      		</factory>    
      		<factory adaptableType="gov.sandia.dart.workflow.domain.WFArc"
            class="gov.sandia.dart.workflow.editor.settings.WorkflowNodeAdapterFactory">
        		 <adapter
             		  type="com.strikewire.snl.apc.GUIs.settings.ISettingsEditor">
         		</adapter>
      		</factory>  
      		<factory adaptableType="gov.sandia.dart.workflow.domain.ResponseArc"
            class="gov.sandia.dart.workflow.editor.settings.WorkflowNodeAdapterFactory">
        		 <adapter
             		  type="com.strikewire.snl.apc.GUIs.settings.ISettingsEditor">
         		</adapter>
      		</factory>   
  
      		<factory adaptableType="org.eclipse.graphiti.ui.internal.parts.ContainerShapeEditPart"
            class="gov.sandia.dart.workflow.editor.settings.WorkflowNodeAdapterFactory">
         		<adapter
               		type="com.strikewire.snl.apc.GUIs.settings.ISettingsEditor">
         		</adapter>
      		</factory>   
            <factory adaptableType="org.eclipse.graphiti.ui.internal.parts.ConnectionEditPart"
            class="gov.sandia.dart.workflow.editor.settings.WorkflowNodeAdapterFactory">
         		<adapter
               		type="com.strikewire.snl.apc.GUIs.settings.ISettingsEditor">
        		</adapter>
      		</factory>   
      		
      		<factory adaptableType="org.eclipse.graphiti.ui.internal.parts.IDiagramEditPart"
            class="gov.sandia.dart.workflow.editor.settings.WorkflowNodeAdapterFactory">
        		 <adapter
             		  type="com.strikewire.snl.apc.GUIs.settings.ISettingsEditor">
         		</adapter>
         		<adapter
             		  type="org.eclipse.core.resources.IFile">
         		</adapter>
      		</factory>           
     </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="gov.sandia.dart.workflow.editor.WorkflowDiagramEditor"
             contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
             default="false"
             extensions="iwf"
             icon="icons/shapes.gif"
             id="gov.sandia.dart.workflow.editor.WorkflowDiagramEditor"
             matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorMatchingStrategy"
             name="Workflow Editor">
       </editor>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="gov.sandia.dart.workflow.editor.preferences.WorkflowEditorPreferenceInitializer">
       </initializer>
    </extension>
    <extension
          id="gov.sandia.dart.workflow.editor.wizards"
          name="New Workflow Wizard"
          point="org.eclipse.ui.newWizards">
       <category
             id="gov.sandia.dart.workflow.wizards"
             name="Workflow">
       </category>
       <wizard
             category="gov.sandia.dart.workflow.wizards"
             class="gov.sandia.dart.workflow.editor.wizards.NewWorkflowWizard"
             icon="icons/shapes.gif"
             id="gov.sandia.dart.workflow.editor.newWorkflowWizard"
             name="Workflow">
          <description>
             Create a new workflow definition file
          </description>
       </wizard>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             category="gov.sandia.dart.workflow.WorkflowPreferencePage"
             class="gov.sandia.dart.workflow.editor.preferences.WorkflowEditorPreferencePage"
             id="gov.sandia.dart.workflow.editor.page1"
             name="Workflow Editor">
       </page>
    </extension>
        <extension
              point="gov.sandia.dart.workflow.editor.contextButtonContributor">
           <contributor
                 class="gov.sandia.dart.workflow.editor.BasicContextButtonContributor">
           </contributor>
           <contributor
                 class="gov.sandia.dart.workflow.editor.NestedWorkflowContextButtonContributor">
           </contributor>
        </extension>
        <extension
              point="gov.sandia.dart.workflow.editor.nodeTypeEditor">
           <editor
                 nodeType="nestedWorkflow"
                 settingsEditor="gov.sandia.dart.workflow.editor.settings.nested.NestedWorkflowNodeSettingsEditor">
           </editor>
           <editor
                 nodeType="nestedInternalWorkflow"
                 settingsEditor="gov.sandia.dart.workflow.editor.settings.nested.NestedWorkflowNodeSettingsEditor">
           </editor>
           <editor
                 nodeType="parameter"
                 settingsEditor="gov.sandia.dart.workflow.editor.settings.ParameterSettingsEditor">
           </editor>           
        </extension>
        <extension
              point="gov.sandia.dart.workflow.editor.nodeRenderer">
           <customRenderer
                 class="gov.sandia.dart.workflow.editor.rendering.NestedWorkflowWFNodeGARenderer"
                 nodeType="nestedWorkflow">
           </customRenderer>
           <customRenderer
                 class="gov.sandia.dart.workflow.editor.rendering.NestedWorkflowWFNodeGARenderer"
                 nodeType="nestedInternalWorkflow">
           </customRenderer>
           <customRenderer
                 class="gov.sandia.dart.workflow.editor.rendering.ParameterWFNodeGARenderer"
                 nodeType="parameter">
           </customRenderer>
        </extension>
        <extension
              point="gov.sandia.dart.workflow.editor.mouseAction">
           <doubleClick
                 nodeType="nestedWorkflow"
                 property="fileName">
           </doubleClick>
           <doubleClick
                 customFeature="gov.sandia.dart.workflow.editor.features.OpenInternalNestedWorkflowFeatureProvider"
                 nodeType="nestedInternalWorkflow"
                 property="fileContents">
           </doubleClick>
           <doubleClick
                 nodeType="file"
                 property="fileName">
           </doubleClick>
           <doubleClick
                 nodeType="sierra"
                 property="inputFile">
           </doubleClick>
           <doubleClick
                 nodeType="fromFile"
                 property="fileName">
           </doubleClick>
           <doubleClick
                 nodeType="aprepro"
                 property="templateFile">
           </doubleClick>
           <doubleClick
                 nodeType="sierra"
                 property="inputFile">
           </doubleClick>
        </extension>
    
    <extension
      id="gov.sandia.dart.workflow.editor.runLocation" 
      point="org.eclipse.core.resources.markers" 
      name="Workflow Run Location">
      <super type="org.eclipse.core.resources.marker"/>
      <persistent value="true"/>
      <attribute name="path"/>
      <attribute name="timestamp"/>
   </extension>
</plugin>
