<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="nodeDefinitionContributor" name="Embedded Workflow Node Definition Contributor" schema="schema/nodeDefinitionContributor.exsd"/>
       
        <extension
         point="org.eclipse.ui.bindings">
         
         <key
            commandId="gov.sandia.dart.workflow.editor.runDefault"
            contextId="org.eclipse.graphiti.ui.diagramEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R">
      </key>
   </extension>     
   <extension
         point="org.eclipse.ui.menus">

      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="gov.sandia.dart.workflow.editor.run"
               label="Run Workflow..."
               style="push"
               tooltip="Prompt for info and run the workflow inside SAW">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <instanceof
                        value="gov.sandia.dart.workflow.editor.WorkflowDiagramEditor">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
          <command
               commandId="gov.sandia.dart.workflow.editor.runDefault"
               label="Run Workflow"
               style="push"
               tooltip="Run the workflow in the last used location inside SAW">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <instanceof
                        value="gov.sandia.dart.workflow.editor.WorkflowDiagramEditor">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
       <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="gov.sandia.dart.workflow.editor.stop"
               label="Stop Workflow"
               style="push"
               tooltip="Stop this running workflow">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <instanceof
                        value="gov.sandia.dart.workflow.editor.WorkflowDiagramEditor">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      
      </extension>
      
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="gov.sandia.dart.workflow.editor.run"
            objectClass="com.strikewire.snl.apc.projectexplorer.views.TreeObject">
         <action
               class="gov.sandia.dart.workflow.phase3.embedded.execution.RunEmbeddedWorkflowHandler"
               enablesFor="1"
               id="gov.sandia.dart.workflow.phase3.embedded.run"
               label="Run Workflow..."
               menubarPath="additions"
               tooltip="Prompt for info and run the workflow inside SAW">
         </action>
         <visibility> 
         	<and>
           	 <objectState name="isFile" value="na"/>
           	 <objectState name="fileExtension" value="iwf"/>
            </and>        
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="gov.sandia.dart.workflow.editor.stop"
            objectClass="com.strikewire.snl.apc.projectexplorer.views.TreeObject">
         <action
               class="gov.sandia.dart.workflow.phase3.embedded.execution.StopEmbeddedWorkflowHandler"
               enablesFor="1"
               id="gov.sandia.dart.workflow.editor.stop"
               label="Stop Workflow"
               menubarPath="additions"
               tooltip="Stop this running workflow">
         </action>
         <visibility> 
         	<and>
           	 <objectState name="isFile" value="na"/>
           	 <objectState name="fileExtension" value="iwf"/>
            </and>        
         </visibility>
      </objectContribution>      
      
      </extension>
      
      <extension
            point="gov.sandia.dart.workflow.editor.nodeTypeContributor">
         <contributor
               class="gov.sandia.dart.workflow.phase3.embedded.EmbeddedNodeTypeContributor">
         </contributor>
      </extension>
      <extension
            point="gov.sandia.dart.workflow.phase3.embedded.nodeDefinitionContributor">
         <nodeDefinition
               name="display"
               nodeClass="gov.sandia.dart.workflow.phase3.embedded.DisplayNode">
         </nodeDefinition>
         <nodeDefinition
               name="ask_yes_no"
               nodeClass="gov.sandia.dart.workflow.phase3.embedded.AskYesNoNode">
         </nodeDefinition>
         <nodeDefinition
               name="prompt"
               nodeClass="gov.sandia.dart.workflow.phase3.embedded.PromptNode">
         </nodeDefinition>
         <nodeDefinition
               name="fileChooser"
               nodeClass="gov.sandia.dart.workflow.phase3.embedded.FileChooserNode">
         </nodeDefinition>
         <nodeDefinition
               name="openFile"
               nodeClass="gov.sandia.dart.workflow.phase3.embedded.OpenResourceNode">
         </nodeDefinition>
         <nodeDefinition
               name="xyplot"
               nodeClass="gov.sandia.dart.workflow.phase3.embedded.XYPlotNode">
         </nodeDefinition>
         <nodeDefinition
               name="browser"
               nodeClass="gov.sandia.dart.workflow.phase3.embedded.EmbeddedBrowserNode">
         </nodeDefinition>
      </extension>

      <extension
         point="org.eclipse.ui.commands">
      		<command      		
      	        defaultHandler="gov.sandia.dart.workflow.phase3.embedded.execution.StopEmbeddedWorkflowHandler"      	
            	id="gov.sandia.dart.workflow.editor.stop"
            	name="Stop"/>
			<command      		
      	        defaultHandler="gov.sandia.dart.workflow.phase3.embedded.execution.RunEmbeddedWorkflowHandler"      	
            	id="gov.sandia.dart.workflow.editor.run"
            	name="Run"/>
            	<command      		
      	        defaultHandler="gov.sandia.dart.workflow.phase3.embedded.execution.DefaultRunEmbeddedWorkflowHandler"      	
            	id="gov.sandia.dart.workflow.editor.runDefault"
            	name="Run"/>
      </extension>
            
   	  <extension
         point="org.eclipse.ui.menus">
          <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=group.nav">
         <toolbar
               id="gov.sandia.dart.workflow.editor.toolbar">
            <command
                  commandId="gov.sandia.dart.workflow.editor.run"
                  icon="icons/runinfolder.png"
                  style="push"
                  tooltip="Prompt for info and run the workflow inside SAW">
               <visibleWhen
                     checkEnabled="false">
	               <with
	                     variable="activeEditor">
	                  <instanceof
	                        value="gov.sandia.dart.workflow.editor.WorkflowDiagramEditor">
	                  </instanceof>
	               </with>
               </visibleWhen>
            </command>
            <command
                  commandId="gov.sandia.dart.workflow.editor.runDefault"
                  icon="icons/i16play.png"
                  style="push"
                  tooltip="Run the workflow in the last used location inside SAW">
               <visibleWhen
                     checkEnabled="false">
	               <with
	                     variable="activeEditor">
	                  <instanceof
	                        value="gov.sandia.dart.workflow.editor.WorkflowDiagramEditor">
	                  </instanceof>
	               </with>
               </visibleWhen>
            </command>
            <command
                  commandId="gov.sandia.dart.workflow.editor.stop"
                  icon="icons/i16stop.png"
                  style="push"
                  tooltip="Stop Workflow">
               <visibleWhen
                     checkEnabled="false">
	               <with
	                     variable="activeEditor">
	                  <instanceof
	                        value="gov.sandia.dart.workflow.editor.WorkflowDiagramEditor">
	                  </instanceof>
	               </with>
               </visibleWhen>
            </command>
          </toolbar>
      </menuContribution>
     </extension>
      <extension
            point="org.eclipse.ui.views">
         <view
               class="gov.sandia.dart.workflow.phase3.embedded.BrowserView"
               id="gov.sandia.dart.workflow.phase3.embedded.BrowserView"
               name="Workflow Browser View"
               restorable="false">
         </view>
      </extension>
      <extension
       	point="gov.sandia.dart.workflow.editor.contextButtonContributor">
      		<contributor
                 class="gov.sandia.dart.workflow.phase3.embedded.editor.EmbeddedContextButtonContributor">
            </contributor>
      </extension>
      
     <extension
      	point="org.eclipse.graphiti.ui.imageProviders">
   		<imageProvider
         class="gov.sandia.dart.workflow.phase3.embedded.editor.EmbeddedImageProvider"
   		      id="gov.sandia.dart.workflow.phase3.embedded.editor.EmbeddedImageProvider">
        <diagramTypeProvider
              id="gov.sandia.dart.workflow.editor.WorkflowDiagramTypeProvider">
        </diagramTypeProvider>
   		</imageProvider>
	  </extension>

   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="gov.sandia.dart.workflow.WorkflowPreferencePage"
            class="gov.sandia.dart.workflow.phase3.embedded.preferences.EmbeddedWorkflowPreferencePage"
            id="gov.sandia.dart.workflow.phase3.embedded.EmbeddedWorkflowPreferencePage"
            name="Environment">
      </page>
      <page
            class="gov.sandia.dart.workflow.phase3.embedded.preferences.WorkflowPreferencePage"
            id="gov.sandia.dart.workflow.WorkflowPreferencePage"
            name="Workflow">
      </page>
   </extension>
   <extension
         point="gov.sandia.dart.workflow.editor.mouseAction">
      <arcDoubleClick
            feature="gov.sandia.dart.workflow.phase3.embedded.ShowRuntimeDataFeature">
      </arcDoubleClick>
	  <doubleClick
	  		customFeature="gov.sandia.dart.workflow.phase3.embedded.NestedWorkflowDoubleClickFeature$Provider"
     		nodeType="nestedWorkflow"
			property="fileName">
	  </doubleClick> 
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="gov.sandia.dart.workflow.phase3.embedded.preferences.EmbeddedWorkflowPreferenceInitializer">
      </initializer>
   </extension>
   
      <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="gov.sandia.dart.workflow.phase3.embedded.navigator.WorkflowRunDecorator"
            id="gov.sandia.dart.workflow.phase3.embedded.navigator.workflowRunDecorator"
            label="Workflow Run Decorator"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
            <enablement>
            <or>
               <objectClass
                     name="com.strikewire.snl.apc.projectexplorer.views.TreeObject">
               </objectClass>
                <objectClass
                     name="org.eclipse.core.resources.IFolder">
               </objectClass>
               </or>
            </enablement>
          </decorator>
   </extension>

</plugin>
