<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN"
  "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <!-- ***** define the appenders ***** -->
  
  <!--  stdout: console appender -->
  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %p [%t] (%c:%L) - %m%n" />
    </layout>
  </appender>
  
  <!-- logfile: a rolling file appender -->
  <appender name="logfile" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${user.home}/.dart/wb/dart-client.log"/>
    <param name="MaxFileSize" value="5MB"/>
    <param name="MaxBackupIndex" value="3"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %p [%c:%L] - %m%n"/>
    </layout>
  </appender>
  
  <!-- ***** Define the loggers ***** -->
  
  <!-- the SWdebug system  -->
  <logger name="com.strikewire.util.log.LoggingMessages">
    <level value="warn" />
  </logger>
  <logger name="com.strikewire.util.log.LoggingErrors">
    <level value="warn" />
  </logger>
  
  <!--  * Other loggers  -->
  
  <!-- the remoting calls between client and server -->
  <logger name="org.springframework.beans">
    <level value="warn" />
  </logger>
  
  <!--  http client postings; may be 3.x only -->
  <logger name="org.apache.commons.httpclient">
    <level value="warn" />
  </logger>
  <logger name="httpclient.wire.header">
    <level value="warn" />
  </logger>
  <logger name="httpclient.wire.content">
    <level value="warn" />
  </logger>
  
  <!--  connections to remote machines -->
  <logger name="gov.sandia.apc.machines.SessionManager">
    <level value="warn" />
  </logger>
  
  <!-- information from the file transfers -->
  <logger name="com.strikewire.snl.apc.FileManager">
    <level value="warn"></level>
  </logger>
  
  <!--  metrics and posting -->
  <logger name="gov.sandia.dart.metrics">
    <level value="warn" />
  </logger>
  
  
  <!--  define the root logger: must be last -->
  <root>
    <priority value="warn" />
    <appender-ref ref="stdout"/>
    <appender-ref ref="logfile"/>
  </root>  
</log4j:configuration>