<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="DART Platform" sequenceNumber="25">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location path="/Users/ejfried/git/ngw/Target-Platform/Target-Platform/eclipse" type="Profile"/>
</locations>
<environment>
<nl>en_US</nl>
</environment>
</target>
